### 后端

*.exe

.idea
backend-api/conf/config.yaml
backend-api/conf/config.test.yaml
backend-api/conf/config.demo.yaml
backend-api/conf/config.dev.yaml
backend-api/conf/config.prod.yaml

backend-api/conf/*.key
backend-api/docs/swagger.json
backend-api/docs/swagger.yaml

backend-api/scripts/deploy-test.bat
backend-api/scripts/deploy-*.bat
backend-api/go.sum
backend-api/main

### 前端

# dependencies
node_modules/

# roadhog-api-doc
frontend-*/src/utils/request-temp.js
frontend-*/_roadhog-api-doc

# umi
frontend-*/.umi
frontend-*/.umi-production

# misc
frontend-*/.idea
frontend-*/.vscode
frontend-*/.DS_Store
frontend-*/.temp
frontend-*/.history
frontend-*/dist
frontend-*/*.log*
