@import '../../../theme.less';

.staffTag {
  margin: 4px;
  padding: 4px 8px;
  color: @text-color-secondary;
  vertical-align: center;

  .offline {
    opacity: 0.5;
  }

  .icon {
    width: 36px !important;
    height: 36px !important;
    margin-right: 12px;
    font-size: 16px;
    border-radius: 4px;

    svg {
      width: 16px;
      height: 16px;
    }
  }

  .text {
    font-size: 13px;
    vertical-align: -2px;
  }
}

.mixedTable {
  display: flex;

  .leftPart {
    flex-wrap: wrap;
    width: 235px;
    background-color: @card-background;
    border-radius: 2px;

    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      height: 50px;
      line-height: 50px;
      border-bottom: 1px dashed #f0f0f0;

      :global {
        .ant-btn-text:hover,
        .ant-btn-text:focus {
          color: @text-color;
          background: @card-head-background;
        }
      }

      .button {
        height: 47px;
        margin-left: -0.1em;
        padding-left: 24px;
        text-align: left;
        vertical-align: -1em;
      }
    }

    .menuList {
      min-height: 230px;

      :global {
        .more-actions {
          height: 40px;
          line-height: 46px;
          opacity: 0 !important;
        }

        .ant-menu-item-active .more-actions {
          opacity: 1 !important;
        }

        li.ant-menu-item {
          margin: 0 0;
        }

        .ant-menu-item-selected::after {
          opacity: 0 !important;
        }

        .ant-menu-item::before {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          z-index: 1;
          border-right: 3px solid @primary-color;
          transform: scaleY(0.0001);
          opacity: 0;
          transition: transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1),
          opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
          content: '';
        }

        .ant-menu-title-content {
          display: flex !important;
          justify-content: space-between !important;

          .i-icon {
            display: flex;
            align-items: center;
          }
        }

        .ant-menu-item-selected {
          color: @text-color;
        }

        .ant-menu-item-selected::before {
          transform: scaleY(1);
          opacity: 1;
          transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1),
          opacity 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
        }
      }
    }
  }

  .rightPart {
    position: relative;
    flex: 1;
    width: calc(100% - 300);
    margin-left: 6px;
    text-align: left;

    .aboveTableWrap {
      width: 100%;
      height: 50px;
      margin-bottom: 6px;
      padding: 16px 16px 14px;
      line-height: 20px;
      background-color: @card-background;
      border-radius: 2px;
      box-shadow: 0 1px 3px 0 rgb(0 0 0 / 5%);
    }

    .tableWrap {
      position: absolute;
      width: 100%;
      height: calc(100% - 50);
    }

    :global {
      th.ant-table-cell {
        height: 50px;
        padding-left: 20px !important;
        //background-color: #fcfcfc !important;
      }

      td.ant-table-cell {
        padding-left: 20px !important;
      }

      .ant-table-pagination-right {
        padding-right: 20px !important;
      }
    }
  }
}

@media (max-width: @screen-xs) {
  .mixedTable {
    display: block;

    .leftPart {
      width: 100%;
    }

    .rightPart {
      margin-top: 6px;
      margin-right: 0;
      margin-left: 0;
    }
  }
}

.detailDialog {
  .leftPart {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 26px 39px 37px 24px;
    border-right: 1px solid #e8e8e8;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-align: center;

    img {
      width: 133px;
      height: 133px;
      margin-bottom: 16px;
    }

    h3 {
      max-width: 133px;
      margin-bottom: 17px;
      color: #222;
      font-size: 14px;
      line-height: 20px;
    }

    button {
      display: -webkit-box;
      display: flex;
      justify-content: center;
      width: 152px;
      height: 32px;
      margin-bottom: 12px;
      font-size: 14px;
      border-radius: 4px;
      -webkit-box-pack: center;
    }
  }

  .rightPart {
    flex: 1;
    max-height: 650px;
    padding-top: 13px;
    padding-right: 36px;
    padding-left: 35px;
    overflow-y: auto;
    -webkit-box-flex: 1;

    ::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }

    ::-webkit-scrollbar-thumb {
      background: #c8c8c8;
      border-radius: 20px;
      cursor: pointer;
    }

    ::-webkit-scrollbar-thumb:hover {
      background: #bebebe;
    }

    ::-webkit-scrollbar-thumb:active {
      background: #b0b0b0;
    }

    @media (max-height: 900px) {
      max-height: 460px;
    }

    .section {
      .titleWrapper {
        display: -webkit-box;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 16px;
        color: rgba(0, 0, 0, 0.85);
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        -webkit-box-pack: start;
        -webkit-box-align: center;

        .divider {
          width: 3px;
          height: 12px;
          background: #1890ff;
        }

        .title {
          margin-left: 4px;
          font-weight: 600;
        }
      }

      .formItem {
        display: -webkit-box;
        display: flex;
        align-items: baseline;
        margin-bottom: 12px;
        padding-left: 7px;
        color: rgba(0, 0, 0, 0.85);
        font-size: 14px;
        line-height: 22px;
        -webkit-box-align: baseline;

        .title {
          height: 22px;
          margin-right: 3px;
          color: @text-color-secondary;
          line-height: 22px;
          white-space: nowrap;
          text-align: left;
          word-break: keep-all;
        }
      }
    }
  }
}

.departmentTitle {
  padding: 0 10px;
}

.modalContent {
  display: flex;
  flex-direction: column;

  h3 {
    margin-bottom: 50px;
    font-weight: bold;
    text-align: center;
  }

  h4 {
    img {
      width: 16px;
      margin-left: 14px;
      vertical-align: middle;
    }
  }
}

.scriptLibrary {
  :global {
    .ant-tree-switcher {
      line-height: 40px;
    }

    .ant-tree-node-content-wrapper .ant-tree-node-content-wrapper-close {
      height: 40px;
    }

    .ant-tree-list-holder-inner {
      padding-left: 10px;
    }

    .ant-pro-form-list-item {
      align-items: flex-start !important;
    }

  }
}


.seniorSet {
  margin-top: 20px;
  margin-right: 10px;
}

.linkCard {
  width: 250px;
  height: 99px;
  padding: 10px 12px 13px;
  background: #fff;
  background: #fff;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .title {
    display: -webkit-box;
    width: 100%;
    max-height: 40px;
    overflow: hidden;
    font-weight: 600;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .infoInnerFlexBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 10;

    span {
      display: -webkit-box;
      padding-right: 19px;
      overflow: hidden;
      color: #999;
      font-size: 12px;
      line-height: 16px;
      text-overflow: ellipsis;
      word-break: break-all;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    img {
      width: 48px;
      height: 48px;
      -o-object-fit: cover;
      object-fit: cover;
      color: rgba(0, 0, 0, 0.85);
      font-size: 14px;
      line-height: 20px;
      background: #ededed;
      border-radius: 2px;
    }
  }
}


.radioBox {
  margin-left: 80px;
}

.pdfUploadBox {
  margin-left: 70px;
}

.videoUplaodBox {
  margin-left: 92px;
}

.dynamicFormContainer {
  display: flex;
  margin-bottom: 30px;
}

.tabContent {
  width: 434px;
  margin-top: 12px;

  :global {
    .ant-input-textarea {
      background-color: #999;
    }

    .ant-row .ant-form-item {
      width: 320px !important;
    }
  }

  .formItem {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    width: 100%;
    margin: 32px 0;

    .label {
      position: relative;
      //width: 130px;
      height: 32px;
      color: rgba(0, 0, 0, 0.85);
      font-size: 14px;
      line-height: 30px;
      text-align: right;
      vertical-align: middle;

      .required {
        &::before {
          display: inline-block;
          margin-right: 4px;
          color: #ff4d4f;
          font-size: 14px;
          font-family: SimSun, sans-serif;
          line-height: 1;
          content: '*';
        }
      }
    }

    :global {
      .ant-form-item {
        margin-bottom: 0;
      }
    }
  }


  .textPart {
    .textareaBox {
      padding: 12px 16px;
      background: #f8f8f8;
      border: 1px solid #eee;
      border-radius: 2px;

      textarea {
        width: 100%;
        height: 121px;
        background: transparent;
        border: none;
        outline: none;
        resize: none;
      }

      p {
        color: #999;
        text-align: right;
      }
    }
  }
}


