@import '../../../theme.less';

.staffTag {
  margin: 6px 3px;
  padding: 2px 8px;
  color: @text-color-secondary;
  vertical-align: center;

  .icon {
    width: 36px !important;
    height: 36px !important;
    margin-right: 12px;
    font-size: 16px;
    border-radius: 4px;

    svg {
      width: 16px;
      height: 16px;
    }
  }

  .text {
    color: @text-color-secondary;
    font-size: 14px;
    vertical-align: -1px;
  }
}
